table, th, td {
    border:10px groove rgb(0, 204, 240)
  }
  
  table {
    border: none;
  }

  body {
    background-image: url(https://4kwallpapers.com/images/wallpapers/samsung-galaxy-book-pro-stock-dark-background-blue-purple-3840x2160-7575.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
    
    height: 100%;
    width: 100%;
  overflow:hidden;}
  
:root {
  color-scheme: dark;
}
/*
:root.dark {
     color-scheme: light;
    
  }*/
  /*
  linear-gradient(to right,#00dbde 0,#fc00ff 50%,#00dbde 100%)
  */



    
    


/* Style the tab */
.tab {
  overflow: hidden;
  border:10px  groove rgb(100, 207, 195);
  background-color:transparent;
  margin-right: 82%;

  
}
h3 ,h1{
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  text-align:center; 
  font-family: Cinzel; 
  color: white"
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 20%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: transparent;
  backdrop-filter: brightness(60%);
  
}

/* Create an active/current tablink class */
.tab button.active {
  color: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  
  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px ;
  border: 10px groove rgb(1, 112, 156);
  margin-top: 15px ;
  
}


.soundBars li:nth-child(1) {
  background: rgb(19, 118, 235);
  -webkit-animation-duration: 1321ms;
          animation-duration: 1321ms;
}

.soundBars li:nth-child(2) {
  background: rgb(244, 80, 217);
  -webkit-animation-duration: 1392ms;
          animation-duration: 1392ms;
}

.soundBars li:nth-child(3) {
  background: rgb(123, 18, 131);
  -webkit-animation-duration: 1217ms;
          animation-duration: 1217ms;
}

.soundBars li:nth-child(4) {
  background: rgb(56, 60, 119);
  -webkit-animation-duration: 1227ms;
          animation-duration: 1227ms;
}

.soundBars li:nth-child(5) {
  background: rgb(218, 95, 227);
  -webkit-animation-duration: 1374ms;
          animation-duration: 1374ms;
}

.soundBars li:nth-child(6) {
  background: rgb(217, 87, 234);
  -webkit-animation-duration: 1238ms;
          animation-duration: 1238ms;
}

.soundBars li:nth-child(7) {
  background: rgb(202, 120, 200);
  -webkit-animation-duration: 1353ms;
          animation-duration: 1353ms;
}

.soundBars li:nth-child(8) {
  background: rgb(220, 222, 160);
  -webkit-animation-duration: 1282ms;
          animation-duration: 1282ms;
}

.soundBars li:nth-child(9) {
  background: rgb(140, 232, 233);
  -webkit-animation-duration: 1282ms;
          animation-duration: 1282ms;
}

.soundBars li:nth-child(10) {
  background: rgb(236, 226, 135);
  -webkit-animation-duration: 1330ms;
          animation-duration: 1330ms;
}

.soundBars {
  height: 855px;
  position: relative;
  padding: 30px 15px 15px;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.soundBars li {
  width: 50px;
  margin: 2px;
  position: fixed;
  background: #fff;
  display: inline-block;
  -webkit-animation: bar 0ms infinite alternate cubic-bezier(0.17, 0.67, 0.48, 1.28);
          animation: bar 0ms infinite alternate cubic-bezier(0.17, 0.67, 0.48, 1.28);
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 0ms;
          animation-duration: 0ms;
  position: relative;
}
.soundBars li::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: linear-gradient(to right, transparent, #000);
}

@-webkit-keyframes bar {
  0% {
    height: 50px;
  }
  40% {
    height: 1330px;
  }
  50% {
    height: 257px;
  }
  60% {
    height: 159px;
  }
  100% {
    height: 193px;
  }
}

@keyframes bar {
  0% {
    height: 50px;
  }
  40% {
    height: 100px;
  }
  50% {
    height: 200px;
  }
  60% {
    height: 159px;
  }
  100% {
    height: 170px;
  }
}
.whiteBG {
  background: #fff !important;
  display: flex;
}

li.threeD::before,
li.threeD::after {
  display: block;
  display: flex;
}


/*# sourceMappingURL=]]].css.map */
